DifferenceEngine/DifferenceEngine.suo
DifferenceEngine/DifferenceEngineTest/bin/
DifferenceEngine/DifferenceEngineTest/obj/
DifferenceEngine/bin/
DifferenceEngine/obj/
clipdiff.ncb
clipdiff.suo
clipdiff/Debug/
clipdiff/History.txt
clipdiff/Licence.txt
clipdiff/clipdiff.vcproj.*.user

