Debug/
Release/
distor/

DifferenceEngine/DifferenceEngine.suo
DifferenceEngine/DifferenceEngineTest/bin/
DifferenceEngine/DifferenceEngineTest/obj/
DifferenceEngine/bin/
DifferenceEngine/obj/
clipdiff.ncb
clipdiff.suo
clipdiff/Debug/
clipdiff/Release/

clipdiff/clipdiff.vcproj.*.user

clipdiff.sdf
clipdiff.v12.suo
clipdiff/Template/


ipch/


clipdiffbrowser/Debug/
clipdiffbrowser/Release/


zzzDistResource/Debug/
zzzDistResource/Release/


